body{
  background-attachment: fixed;
  background-size: cover;
}

.hlavnistranka{
    text-align: center;
}

.hedr{
    text-align: center;
    background-color: rgb(76, 134, 112);
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-size: 80px;
    font-style: italic;
    font-family: Impact;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    animation: pedo 0.5s linear infinite;

}

.bordr {
  border-style: solid;
  border-color: white;
  border-width: 5px;
  animation: pedo 0.5s linear infinite;
}
.duha{
  background-image: url('../duhagiph.gif');
  background-color: #ff0707;
  background-attachment: fixed;
  background-size:unset;
}

.hvezdy{
  background-image: url('../pozadizivotopis.png');

}


.teletabi{
  background-image: url('../teletabi.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}


a{
  color:#1D3557;
  text-decoration: none;
}

a:hover{
  color:#3766a7;
  text-decoration: underline;
}

.roller{
    margin:0;
    padding:0;
    font-family: 'Arvo';
  }

  body{
    background-color: #E63946;
  }

  .main{
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 4rem;
  }

  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #1D3557;

    text-align: center;
    align-items: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
  }


  #spare-time{
    font-size: 4.125rem;
    margin-top: 0;
    color: #1D3557;

  }

  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 12s infinite;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }

  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 2.125rem;
  }

    .roller{
    height: 2.6rem;
    line-height: 2.125rem;
    text-align: center;
    width: 50%;
    align-items: center;
    }

    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }

    .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }

.skrolovak{
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: rgb(76, 134, 112);
    text-align: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
    animation: pedo 0.5s linear infinite;
}

@keyframes pedo{
    0% {border-color: red;}
    33% {border-color: green;}
    66% {border-color: blue;}
    100% {border-color: red;}
}

@keyframes zda{
  0% {border-color: black;}
  33% {border-color: grey;}
  66% {border-color: lightslategrey;}
  100% {border-color: black;}
}
@keyframes zda2{
  0% {border-color: rgb(170, 16, 170);}
  33% {border-color: rgb(31, 31, 139);}
  66% {border-color: rgb(6, 138, 131);}
  100% {border-color: rgb(170, 16, 170);}
}

.bolest{
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  font-size: 200px;
  font-style: italic;
  font-family: Impact;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  animation: zda 0.5s linear infinite;
  width: 500px;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.zivot{
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  font-size: 100px;
  font-style: italic;
  font-family: Impact;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  animation: zda2 0.5s linear infinite;
  width: 500px;
  background-color: #0e1b45;
  align-items: center;
  display:inline-block;
}

.normalnitext{
  color: white;
  align-items: center;
  font-size: 35px;
  font-family: Tahoma;
  display:inline-block;
}

.uprostred{
  text-align: center;
  align-items: center;
  width:80%;
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (max-width: 1530px) {
  #fotky{
    display: none;
  }
}

.foteckos{
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  font-size: 100px;
  font-style: italic;
  font-family: Impact;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  animation: zda2 0.5s linear infinite;
  width: 500px;
  background-color: #b8eed7;
  align-items: center;
  display:inline-block;
}

.uspech{
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgb(135, 205, 205);
  color: white;
  font-size: 50px;
  font-style: italic;
  font-family: Impact;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  animation: zda2 0.5s linear infinite;
  width: 700px;
  align-items: center;
  display:inline-block;
}
